/* .container {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
} */
/* 
table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
}
table,
th,
td {
  width: 350px;
}
th {
  border-bottom: 1px solid grey;
}

th,
td {
  text-align: left;
  padding-left: 3px;
}

td:first-child,
th:first-child {
  border-right: 1px solid grey;
} */
